build/CMakeFiles
build/Algoritimo_Genetico_5
build/ARQ_FINAL.vtp
build/CMakeCache.txt
build/cmake_install.cmake
build/Makefile
build/MASK.vtp
build/subtraido.stl
build/teste.stl
build/teste.vtu
build/volume_anterior.txt